name: User Service CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'rag_data_source/python-users/**'

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: ./rag_data_source/python-users

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest black

    - name: Lint with Black
      run: black --check .

    - name: Run tests
      run: pytest

  build-image:
    needs: test-and-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build ./rag_data_source/python-users -t user-service:test
